body{
    background-image: url('https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgba(94, 97, 93, 0.9);
}

#container {
    background-color:rgba(94, 97, 93, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 725px;
    border-radius: 40px;
    color: white;
    font-family: 'Kalam', cursive;
    margin: auto;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-family: 'Kalam', cursive;
    color: #ee964b;
    align-self: center;
}

input{
    padding: 5px;
}

#addTip {
    background-color:#f4d35e;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Kalam', cursive;
    
}
    
#btn {
    background-color: #ee964b;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Kalam', cursive;
}

#tip{
    font-family: 'Kalam', cursive;
    display: none;
}

#totalAmountToPay{
    display: flex;
    align-self: center;
}

#billSplit, #totalTip, #totalAmount {
    font-family: 'Kalam', cursive;
     background-color: #ffc971;
     margin: 20px;
     padding: 20px;
     border-radius: 10px;
     border: 1px solid black;
    
}

@media all and (max-width:800px){
    #container {
        width: 400px;
        height: 1025px;
        flex-wrap: nowrap;
        
      
    }

    #totalAmountToPay {
        display: flex;
        flex-direction: column;
        
    }
}


@media all and (max-width:400px){
    #container {
        width: 250px;
        height: 1125px;
        flex-wrap: nowrap;
        
      
    }

    #totalAmountToPay {
        display: flex;
        flex-direction: column;
        
    }

    #tip{
        width: 100px;
    }
}